<section class="row">
  <div class="medium-6" id="change-password-container">
    <%= content_tag :h5, t(:reset_password) %>
    <%= content_tag :p, t(:reset_password_paragraph) %>
    <%= form_tag({controller: 'admin/index', action: 'change_password_post'},
      id: 'change-password-form', method: "post") do %>
      <div class="input-text">
        <%= label_tag(:password, t(:password)) %>
        <%= password_field_tag(:password) %>
      </div>

      <div class="input-text">
        <%= label_tag(:password_confirmation, t(:password_confirmation)) %>
        <%= password_field_tag(:password_confirmation) %>
      </div>

      <div class="button-row">
        <%= hidden_field_tag(:approval_code, @approval_code) %>
        <%= submit_tag(t(:submit), class: 'button') %>
      </div>
    <% end %>
  </div>
</section
