<div class="row expanded">
  <div class="medium-12 columns">
    <%= content_tag :h4, t(:dashboard) %>
  </div>
</div>

<div class="row expanded">
  <div class="medium-6 columns widget">
    <div class="row inside">
      <%= content_tag :h5, t(:new_listings) %>
      <%= content_tag :hr %>
      <table class="hover">
        <thead>
          <tr>
            <th>User</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>amendes</td>
            <td>Honda</td>
            <td>Accord</td>
            <td>2014</td>
            <td>$15,000.00</td>
          </tr>
          <tr>
            <td>amendes</td>
            <td>Toyota</td>
            <td>Camry</td>
            <td>2016</td>
            <td>$20,000.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="medium-6 columns widget">
    <div class="row inside">
      <%= content_tag :h5, t(:new_users) %>
      <%= content_tag :hr %>
      <table class="hover">
        <thead>
          <tr>
            <th>User</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>amendes</td>
            <td>Honda</td>
            <td>Accord</td>
            <td>2014</td>
            <td>$15,000.00</td>
          </tr>
          <tr>
            <td>amendes</td>
            <td>Toyota</td>
            <td>Camry</td>
            <td>2016</td>
            <td>$20,000.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row expanded widget">
  <div class="medium-6 columns">
    <div class="row inside">
      <%= content_tag :h5, t(:new_service_locations) %>
      <%= content_tag :hr %>
      <table class="hover">
        <thead>
          <tr>
            <th>User</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>amendes</td>
            <td>Honda</td>
            <td>Accord</td>
            <td>2014</td>
            <td>$15,000.00</td>
          </tr>
          <tr>
            <td>amendes</td>
            <td>Toyota</td>
            <td>Camry</td>
            <td>2016</td>
            <td>$20,000.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
