<section class="row">
  <div class="medium-6" id="forgot-password-container">
    <%= content_tag :h5, t(:forgot_password) %>
    <%= content_tag :p, t(:forgot_password_paragraph) %>
    <%= form_tag({controller: 'admin/index', action: 'forgot_password_post'},
      id: 'forgot-password-form', method: "post") do %>
      <div class="input-text">
        <%= label_tag(:email, t(:email)) %>
        <%= text_field_tag(:email) %>
      </div>
      <div class="button-row">
        <%= submit_tag(t(:submit), class: 'button') %>
        <%= link_to t(:go_back), { controller: 'admin/index',
            action: 'dashboard' }, class: 'button' %>
      </div>
    <% end %>
  </div>
</section
