<section class="row widget">
  <%= @current_user %>
  <div class="medium-6 inside" id="admin-login-container">
    <%= content_tag :h4, t(:login_to_admin) %>
    <%= content_tag :hr %>
    <%= form_tag({controller: 'admin/index', action: 'login_post'},
      id: 'admin-login-form', method: "post") do %>
      <div class="input-text">
        <%= label_tag(:username, t(:username)) %>
        <%= text_field_tag(:username) %>
      </div>
      <div class="input-text">
        <%= label_tag(:password, t(:password)) %>
        <%= password_field_tag(:password) %>
      </div>
      <div class="button-row">
        <%= submit_tag(t(:login), class: 'button') %>
        <%= link_to t(:forgot_password_btn), { controller: 'admin/index',
            action: 'forgot_password' }, class: 'button' %>
      </div>
    <% end %>
  </div>
</section
