
<%= form_tag({ controller: 'listing', action: 'list', method: 'post' },
  id: 'vehicle-search-form') do %>
  <div class="row">
    <div class="medium-4">

    </div>
  </div>
  <div class="row">
    <div class="medium-2 columns">
      <%= label_tag :make, t(:make) %>
      <%= text_field_tag 'listing[make]', '', id: 'make' %>
    </div>

    <div class="medium-2 columns">
      <%= label_tag :model, t(:model) %>
      <%= text_field_tag 'listing[model]', '', id: 'model' %>
    </div>

    <div class="medium-2 columns">
      <%= label_tag :max_price, t(:max_price) %>
      <%= text_field_tag 'max_price', '', id: 'max_price' %>
    </div>

    <div class="medium-2 columns">
      <%= label_tag :distance, t(:distance) %>
      <%= text_field_tag 'distance', '', id: 'distance' %>
    </div>

    <div class="medium-2 columns">
      <%= label_tag :zipcode, t(:zipcode) %>
      <%= text_field_tag 'listing[zipcode]', '', id: 'zipcode' %>
    </div>

    <div class="medium-2 columns">
    <%= submit_tag t(:search_btn), class: 'button search-btn' %>
    </div>
  </div>
<% end %>
