<nav id="footer-nav" class="row">
  <div class="small-6 small-offset-3 columns">
    <ul class="menu">
      <li>
        <%= link_to t(:buy), { controller: 'account', action: 'login' } %>
        <span>&bull;</span>
      </li>
      <li>
        <%= link_to t(:sell_and_trade), { controller: 'account', action: 'login' } %>
        <span>&bull;</span>
      </li>
      <li>
        <%= link_to t(:service_and_repair), { controller: 'account', action: 'login' } %>
        <span>&bull;</span>
      </li>
      <li>
        <%= link_to t(:login), { controller: 'account', action: 'login' } %>
        <span>&bull;</span>
      </li>
      <li>
        <%= link_to t(:my_account), { controller: 'account', action: 'login' } %>
      </li>
    </ul>
  </div>
</nav>
<%= content_tag :div, get_copyright_message,
  id: 'copyright', class: 'text-center' %>
