<!DOCTYPE html>
<html lang="en" ng-app="AutomallApp">
  <%= render 'partial/head' %>
  <body class="body">
    <header id="main-header">
      <%= render 'partial/header' %>
    </header>

    <nav id="main-nav">
      <%= render 'partial/navigation' %>
    </nav>

    <% if is_home? %>
    <section id="banner" class="text-center">
      <%= image_tag("car-banner-bg.png") %>
    </section>
    <% end %>

    <section class="row" id="flash-messages">
      <%= render 'partial/messages' %>
    </section>

    <main id="main-content">
      <%= yield %>
    </main>

    <footer id="main-footer">
      <%= render 'partial/footer' %>
    </footer>
  </body>
</html>
